 a {
   text-decoration: none;
   color: inherit;
 }

 .product-detail-container {
   padding: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .product-detail-card {
   display: flex;
   gap: 2rem;
   background-color: #bff109;
   padding: 1.5rem;
   border-radius: 12px;
   max-width: 800px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 .product-image {
   width: 300px;
   height: auto;
   object-fit: cover;
   border-radius: 10px;
 }

 .product-info {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
 }

 .product-title {
   font-size: 24px;
   font-weight: bold;
 }

 .product-description {
   font-size: 16px;
   color: #3b3939;
 }

 .product-price,
 .product-rating,
 .product-category {
   font-size: 16px;
   margin-top: 0.5rem;
 }

 .product-add-button {
   height: 50px;
   width: 200px;
   margin-top: 1rem;
   padding: 10px 20px;
   background-color: #e4f319;
   color: rgb(0, 0, 0);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   font-weight: bold;
 }

 .product-add-button:hover {
   background-color: #e9fa02;
   box-shadow: 0 6px 20px rgba(238, 234, 0, 0.678);
 }